@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
/*--header--*/
body{
	font-family: 'Roboto', sans-serif;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: left;
    font-size: 14px;
    color: #999;
	line-height: 22px;
}

.menu ul{
	display: flex;
	margin-left: auto;
}
.menu{
	display: flex;
}
.menu ul li{
	list-style: none;
}

.menu ul li a {
    padding: 15px;
    display: inline-block;
	color: #fff;
}
a.toggle-menu {
    display: none !important;
}
.toggle-check{
	display: none;
}
header {
    position: absolute;
    width: 100%;
	top: 10px;
}
h3{
    color:white;
}
@media (max-width:992px){
	a.toggle-menu {
    display: inline-flex !important;
    position: absolute;
    right: 0;
    color: #fff;
}
.menu {
    display: none;
    position: absolute;
    right: 0px;
    top: 50px;
    background: #c66eea;
    z-index: 999;
    padding: 15px;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 6px 6px 15px #00000030;
	transition: .5s ease all;
}
.toggle-check{
    position: absolute;
	display: block;
    right: 0;
    top: 26px;
	z-index: 99;
	opacity: 0;
}	
.menu ul li a {
    padding: 5px 0px;
    display: inline-block;
    color: #fff;
}
.menu ul {
    display: flex;
    margin-left: auto;
    flex-direction: column;
}
.toggle-check:checked ~ .menu{
	display: block;
}	
}
/*--banner-section--*/
.banner-section {
    background: url("../images/Path 620.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0vw -4vw;
    padding-top: 12%;
    min-height: 870px;
	
}

.banner-section .content-text h2{
	font-size: 44px;
	line-height: 53px;
	color:white;
	font-weight:normal;
}

.banner-section .content-text p{
    font-family: montserrat;
    font-weight: bold;
    color: white;
    font-size: 28px;
}

 .store-btns{
     color:white;
    
 }


.banner-img img {
    max-width: 340px;
}
@media (max-width:992px){
	a.toggle-menu {
    display: inline-flex !important;
    position: absolute;
    right: 0;
    color: #fff;
}
.menu {
    display: none;
    position: absolute;
    right: 0px;
    top: 50px;
    background: #c66eea;
    z-index: 999;
    padding: 15px;
    border-radius: 0px 0px 12px 12px;
    box-shadow: 6px 6px 15px #00000030;
}
.menu ul li a {
    padding: 5px 0px;
    display: inline-block;
    color: #fff;
}
.menu ul {
    display: flex;
    margin-left: auto;
    flex-direction: column;
}	
}
@media (min-width:1600px){
	.banner-section {
    background-position: 28vw -55vw;
}
}
@media (min-width:1920px){
	.banner-section {
    background-position: 25vw -60vw;
}
}


/* social media icon css */
.fa {
    padding: 20px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa-facebook {
    background: black;
    color: white;
  }
  
  .fa-twitter {
    background:black;
    color: white;
  }
  
  .fa-linkedin {
    background: black;
    color: white;
  }

  /* icon css */
  .icon{
      display: inline-flex;
      padding-right: 20px; 
	  position: relative;
  }
  .icon:before
{
	content: "";
	width: 2px;
	height: 55px;
	background: #fff;
	position: absolute;
	left: -10px;
}

.icon:first-child:before {
    display: none;
}


  .material-icons{
      font-size: 40px !important;
  }
  .banner-section span{
    font-size:12px;
        color:white;
        margin-top: 38px;
        margin-left: -37px;
    
  }


  /* form css */

.form {
    background: #fff;
    padding: 20px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 41px rgba(0,0,0,0.1);
    border-radius: 15px;
}
.form h3{
    color:#5003FE;
}
label {
  margin: 15px 0px;
  color: #414141;
  float: left;
  font-size: 14px;
}
.col-sm-4 {
    font-size: 13px;
}

.form-btn {
        background-color:rgba(26, 26, 233, 0.822);
        border: none;
        color: white;
        padding: 11px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        width:100%;
        border-radius: 5px;
}
textarea{
	width:100%;
}
.input1 {
    width: 100%;
    /* padding: 10px; */
    background: #a59c9c0d;
    border: 1px solid #b4adad;
    outline: 0px;
    border-radius: 5px;
    padding: 4px 4px;
    margin: 0;
    /* top: -4px; */
}
select {
  width: 70%;
  padding: 4px 4px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
/* What we do section */
.feature
{
    background: url("../images/Mask\ Group\ 41.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 0vw -4vw;
    padding: 0;
}
.item {
    background: white;
    padding: 10px 20px;
    border-radius: 6px;
    height: 200px;
    width: 300px;
    box-shadow: 11px 14px 28px #f3e9e9;
    }

/* our work section */
.about {
   
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: -13vw -0vw;
	padding-top: 0%;
}


.sub-headng {
    font-size: 20px;
    position: relative;
    color: #22233a;
    margin-bottom: 30px;
}

.sub-headng:before{
	width: 55px;
	margin: 0 auto;
	height: 2px;
	background: #7c90f4;
	position: absolute;
	bottom: -15px;
	left: 0;
	right: 0;
}
.bold-heading {
    font-weight: 700;
    font-size: 40px;
	position: relative;
	left:70px;
}
.bold-heading:before{
	width: 55px;
	margin: 0 auto;
	height: 2px;
	background: #7c90f4;
	position: absolute;
	bottom: -15px;
}
.mid-text{
    font-size: 4vw;
	font-weight: 900;
}
.lrg-text {
    font-size: 5vw;
    font-weight: 900;
	
}
.mock
    {
      position: relative;
      top:0px;      
      z-index: 1;
		padding-right: 0px !important;
      
    }
 .mockup {
    position: absolute;
    top: 115px;
    right: 158px;
    z-index: 2;
    height: 70%;
    width: 70%;
}
.mess{
	color: #3A58FD;
	font-size: 15px;
	background: white;
	position: absolute;
	padding: 10px 50px;
	left: 550px;
	z-index: 100;
	top: 115px;
    box-shadow: 5px 5px 10px #8f8f8f;
    width:180px;
}
.mess2{
    color: #3A58FD;
	font-size: 15px;
	background: white;
	position: absolute;
	padding: 10px 35px;
	left: 521px;
	z-index: 100;
    top: 210px;
    box-shadow: 5px 5px 10px #8f8f8f;
    width:210px;

}
.mess3{
	color: #54B25A;
	font-size: 15px;
	background: white;
	position: absolute;
	padding: 10px 50px;
	left: 625px;
	z-index: 100;
	top: 115px;
    box-shadow: 5px 5px 10px #8f8f8f;
    width:180px;
}
.mess4{
    color:#54B25A;
	font-size: 15px;
	background: white;
	position: absolute;
	padding: 10px 35px;
	left: 625px;
	z-index: 100;
    top: 210px;
    box-shadow: 5px 5px 10px #8f8f8f;
    width:229px;
}

.mess5
{
 color:#CE3554;
 font-size: 15px;
 background: white;
 position: absolute;
 padding: 10px 50px;
 right: 650px;
 z-index: 100;
top: 115px;
box-shadow: 5px 5px 10px #8f8f8f;
width:180px;
}
.mess6
{
        color:#CE3554;
        font-size: 15px;
        background: white;
        position: absolute;
        padding: 10px 35px;
        right: 650px;
        z-index: 100;
        top: 210px;
        box-shadow: 5px 5px 10px #8f8f8f;
        width:210px;

}
.mess7{
	color: #54B25A;
	font-size: 15px;
	background: white;
	position: absolute;
	padding: 10px 50px;
	left: 611px;
	z-index: 100;
	top: 115px;
    box-shadow: 5px 5px 10px #8f8f8f;
    width:180px;
}
.mess8{
    color:#54B25A;
	font-size: 15px;
	background: white;
	position: absolute;
    padding: 10px 35px;
	left: 617px;
	z-index: 100;
    top: 210px;
    box-shadow: 5px 5px 10px #8f8f8f;
    width:229px;
}

/* testimonial css */
*{
    margin:0;
    padding:0;
}
.testimonials{
    margin:50px auto;
}
.testimonials h1{
    text-align: center;
    font-weight:bold;
    color:#353339;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.testimonials h1::after{
    content:'';
    display: block;
    height:3px;
    width:170px;
    margin:20px auto 5px;
}
.testimonials .row
{
    margin-top:30px;
}
.testimonials .col-md-4
{
    margin:40px auto;
}
 .profile
{
    padding: 70px 10px 10px;
    background-color: #efefef;
    border-radius: 5%;
} 
.profile img{
    position: absolute;
    border:5px solid white;  
    height: 81px;
    position: absolute;
    top: 247px;
    left: 38px;

}
.user{
    width:75px;
    height:70px;
    border-radius: 50%;
}
.profile h3{
    font-size:20px;
    color:white;
    border-style: solid;
    padding:30px;
    background-color:#2A2646; 
    border-bottom-right-radius: 10%;
    border-bottom-left-radius:  10%;   
    
}
span
{
    font-size:12px;
    color:white;
}
blockquote
{
    font-size: 16px;
    line-height: 30px;
    quotes:"“"  "„"  ;
}
blockquote::before
{
    content: open-quote;
    font-size: 50px;
    position: relative;
    color:#707070;
    line-height: 20px;
    bottom:-15px;
    right:5px;
}
blockquote::after
{
    content: close-quote;
    font-size: 50px;
    position: relative;
    color:#707070;
    line-height: 10px;
    bottom:-15px;
    left :5px;
}
.profile:hover
{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}
.testimonials .row .profile
{
    border-top: 20px solid#5741FD;
}